.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    white-space: nowrap;

    &--primary {
        background-color: #4f2AC3;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    @media (max-width: 640px){
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px){
        display: flex;
        align-items: center;
    }
}